body {
	font-family: 'Inter', sans-serif;
	background-color: #272b34;
	color: #dcddde;
	padding-left: 20px;
	padding-right: 20px;
	line-height: 1.8;
	max-width: 960px;
	margin: auto;
	font-size: 1.1em;
	
	@media screen and (orientation: portrait) and (max-width: 1000px){
		font-size: 2.2em;
		padding-left: 40px;
	}
}


li {
	max-width: 800px;
    /* float: left; */
    margin-right: 20px;

img {
	display: block;
    margin-bottom: 10px; /* Adjust as needed */
	max-width: 800px;
    height: auto; /* Maintain aspect ratio */
	
	@media screen and (orientation: portrait) and (max-width: 1000px){
		width: 100%;
	}
}

code {
	font-size: 1.1em;
	color: #88c36d;
	background-color: #20242b;
}
